[submodule "sancus/sancus-examples"]
	path = sancus/sancus-examples
	url = https://github.com/sancus-pma/sancus-examples.git
[submodule "sancus/soteria/soteria-test"]
	path = sancus/soteria/soteria-test
	url = https://github.com/sancus-pma/soteria-test.git
[submodule "keystone/keystone-sdk"]
	path = keystone/keystone-sdk
	url = https://github.com/keystone-enclave/keystone-sdk.git
[submodule "sgx-lkl/sgx-lkl"]
	path = sgx-lkl/sgx-lkl
	url = https://github.com/lsds/sgx-lkl.git
